* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #ffffff;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.clearfix{zoom: 1}
.clearfix::after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row{
    max-width: 90%;
    margin: 0 auto;
}

table {
    background: url("img/LUDO_BOARD.GIF") no-repeat, #fff;
    background-size: 37.5rem 37.5625rem;
    width: fit-content;
    border: 0px solid black; 
    border-collapse: collapse;
}


.ludo-title{
    font-family: 'Luckiest Guy', cursive;
    font-size: 70px;
    text-align: center;
    margin-bottom: 30px;
}

td {
    border: 4px solid rgba(0,0,0,0);
    width: 2.875rem;
    height: 2.90375rem;
    overflow: hidden;
    position: relative;
    float: none;
    margin: 0;
    padding: 0;
}


img[src="img/spotter.gif"]{
    /* background: url("img/LUDO_BOARD.GIF") no-repeat; */
    z-index: 7;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.green-seed{
    background: url("img/GREEN_SEED.png") no-repeat;
    background-size: contain;
}

.blue-seed{
    background: url("img/BLUE_SEED.png") no-repeat;
    background-size: contain;
}

.red-seed{
    background: url("img/RED_SEED.png") no-repeat;
    background-size: contain;
}

.yellow-seed{
    background: url("img/YELLOW_SEED.png");
    background-size: contain;
}

.home{
    visibility: hidden;
    transition-duration: 1s;
}

.btn{
    font-family: 'Aladin', cursive;
    padding: 12px 52px;
    text-decoration: none;
    border-radius: 4px; 
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    text-transform: uppercase;
} 

.player-heading{
    font-size: 30px;
    margin-bottom: 15px;
}

.rolldice{
    text-align: center;
    /* margin-top: 10px; */
}


.l{
    color: red;
}

.u{
    color: blue;
}

.d{
    color: green;
}

.o{
    color: yellow;
}

.side-bar{

}

.col{
    text-align: center;
}
.icon-big{
    font-size: 500%;
    display: block;
}

.container{
    height: 100vh;
}

.icon1, .icon2{
    font-size: 400%;
    color: green;
    visibility: hidden;
}

.dropup{
    visibility: visible;
}

.game-msg{
    background: black;
    height: auto;
    margin: 20px;
    color: white;
    border-radius: 8px;
}

footer{
    display: none;
}