* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Aladin', cursive;
    background-color: #FDF7F8;
}

.row{
    max-width: 90%;
    margin: 0 auto;
}

.clearfix{zoom: 1}
.clearfix::after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

table {
    background: url("img/LUDO_BOARD.GIF") no-repeat, #fff;
    background-size: 600px 601px;
    width: fit-content;
}


table {
    border: 0px solid black; 
    border-collapse: collapse;
}

.ludo-title{
    font-family: 'Luckiest Guy', cursive;
    font-size: 70px;
    text-align: center;
    margin-bottom: 30px;
}

td {
    border: 4px solid rgba(0,0,0,0);
    width: 46px;
    height: 46.46px;
    overflow: hidden;
    position: relative;
    float: none;
    margin: 0;
    padding: 0;
}


img[src="img/spotter.gif"]{
    /* background: url("img/LUDO_BOARD.GIF") no-repeat; */
    z-index: 7;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.green-seed{
    background: url("img/GREEN_SEED.png") no-repeat;
    background-size: contain;
}

.blue-seed{
    background: url("img/BLUE_SEED.png") no-repeat;
    background-size: contain;
}

.red-seed{
    background: url("img/RED_SEED.png") no-repeat;
    background-size: contain;
}

.yellow-seed{
    background: url("img/YELLOW_SEED.png");
    background-size: contain;
}

.home{
    visibility: hidden;
    transition-duration: 1s;
}

.btn, input[type=submit]{
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 4px; 
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}

/* .btn-dice{
    padding: 40px;
} */

input[type=text]{
    padding: 7px;
    margin: 2.4px;
    border: 2px solid rgba(128, 128, 128, .5);
    border-radius: 4px;
    width: 25rem;
    font-family: monospace;
}


.player-heading{
    font-size: 30px;
    margin-bottom: 15px;
}

input[type=submit]{
    margin: 10px;
    margin-left: 54px;
}

.rolldice{
    text-align: center;
    /* margin-top: 10px; */
}